:root{
    --hightbar-bg-color: darkGreen;
    --main-bg-color: bisque;
    --text-color: DarkGoldenrod;
    --border-color: sienna;
}

html{
    font-family: georgia, serif;
    color: var(--text-color);
    font-size: 25px;
}

body{
    background-color: wheat;
    overflow: hidden;
}

a{
    text-decoration: none;
}

button, a{
    background-color: var(--main-bg-color);
    font-family: georgia, serif;
    color: var(--text-color);
    font-size: 25px;
    border: 2px solid var(--text-color);
    cursor:hand
}

button:hover, a:hover{
    color: gold;
    border: 2px solid gold;
}

.container-all{
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    border: 4px solid var(--border-color);
    box-shadow: 0 0 8px var(--main-bg-color);
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--main-bg-color);
}

.bartitle{
    height: 70px;
    padding-top: 2px;
    border-bottom: 3px double var(--border-color);
    background-color: var(--hightbar-bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.barmenu{
    height: 70px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 3px solid var(--border-color);
    background-color: var(--hightbar-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav{

    margin: 0 auto;
    margin-right: 20px;
    background-color: var(--hightbar-bg-color);
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    list-style: none;
    margin: 10px;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 5px;
}

.sous-menu a{
    display: block;
}

nav a:hover{
    color: orange;
    border: 2px solid gold;
}

.sous-menu{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: var(--hightbar-bg-color);
    position: absolute;
    width: 100%;
    border-top: 2px solid gold;
    z-index: 1000;
}

nav > ul li:hover .sous-menu{
    display: block;
}

.sous-menu li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous-menu a{
    padding: 10px;
}

.sous-menu a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.menu > a::after{
    content:" ▼";
    font-size: 12px;
}

.menu.logout{
    margin-left: 30px;
}

.menu.logout > a::after{
    content:"";
    font-size: 12px;
}

.pic_profile{
    width: 65px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 2px;
    border: 2px solid var(--border-color);
    border-radius: 100px;
}

.main h2{
    margin: 1%;
    text-align: center;
}

.grid-container{
    display: grid;
    width: 100%;
    height: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    overflow: hidden;
}

.ticket{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    box-shadow: 0 0 4px var(--main-bg-color);
    padding: 10px;
    width: 90%;
    height: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ticket img{
    height: 70px;
    width: 70px;
    margin: 1%;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}

.ticket p{
    font-size: 20px;
    height: 3%;
    width: auto;
    margin: 3%;
}

.ticket .user_ticket{
    text-align: center;
    font-size: 22px;
}

.ticket .date{
    font-size: 12px;
    text-align: end;
    margin: 1%;
}

.ticket .add_review{
    text-align: end;
}

.ticket .edit_ticket{
    text-align: start;
}

.ticket .delete_ticket{
    text-align: end;
}

.pagin{
    margin-left: 25%;
}

.form_tr_container{
    display: grid;
    grid-template-area: 'ticket . review'
                        '. publish .';
}

.form_tr_ticket{
    text-align: start;
    text-overflow: ellipsis;
}

.form_tr_ticket h3, p{
    text-align: center;
}

.form_tr_review{
    text-align: end;
}

.form_tr_review h3, p{
    text-align: center;
    margin: 2%;
}

.form_tr_review #id_rating{
    text-align: center;
    font-size: 16px;
}

.form_tr_publish{
    grid-area: publish;
}

.delete_form{
    text-align: start;
}

.review{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    box-shadow: 0 0 4px var(--main-bg-color);
    padding: 10px;
    width: 90%;
    height: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review p{
    font-size: 20px;
    height: 3%;
    width: auto;
    margin: 3%;
}

.review .user_review{
    text-align: center;
    font-size: 22px;
}

.review .rating{
    margin-top: 2%;
    margin-bottom: 5%;
}

.review .date{
    font-size: 12px;
    text-align: end;
    margin: 1%;
}

.ticket_for_review{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    box-shadow: 0 0 4px var(--main-bg-color);
    padding: 10px;
    width: 95%;
    height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ticket_for_review img{
    height: 50px;
    width: 50px;
    margin: 1%;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}

.ticket_for_review p{
    font-size: 13px;
    height: 3%;
    width: auto;
    margin: 3%;
}

.ticket_for_review .user_ticket{
    text-align: center;
    font-size: 15px;
}

.description_for_review{
    margin-left: 20%;
    width: 60%;
    text-align: center;
}

.user_review a, .user_ticket a{
    font-size: 20px;
}

.ticket_detail_container{
    display: grid;
    width: 100%;
    height: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    overflow: hidden;
    grid-template-areas:    'hautp hautp hautp'
                            'titre . user'
                            'auteur . date'
                            'image describe describe'
                            'image describe describe'
                            '. . .'
                            'add update home';
}

.ticket_detail_container .tdet_hautp{
    grid-area: hautp;
}

.ticket_detail_container .tdet_titre{
    grid-area: titre;
}

.ticket_detail_container .tdet_user{
    grid-area: user;
}

.ticket_detail_container .tdet_auteur{
    grid-area: auteur;
}

.ticket_detail_container .tdet_date{
    grid-area: date;
}

.ticket_detail_container .tdet_image{
    grid-area: image;
}

.ticket_detail_container .tdet_image img{
    height: 140px;
    width: 140px;
    margin: 1%;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}

.ticket_detail_container .tdet_describe{
    grid-area: describe;
}

.ticket_detail_container .tdet_add{
    grid-area: add;
}

.ticket_detail_container .tdet_update{
    grid-area: update;
}

.ticket_detail_container .tdet_home{
    grid-area: home;
}

.review_detail_container{
    display: grid;
    width: 100%;
    height: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    overflow: hidden;
    grid-template-areas:    'hautp hautp hautp'
                            'headline . user'
                            'rating . date'
                            '. body body'
                            'ticket body body'
                            '. . .'
                            '. update home';
}

.review_detail_container .rdet_hautp{
    grid-area: hautp;
}

.review_detail_container .rdet_headline{
    grid-area: headline;
}

.review_detail_container .rdet_user{
    grid-area: user;
}

.review_detail_container .rdet_rating{
    grid-area: rating;
}

.review_detail_container .rdet_date{
    grid-area: date;
}

.review_detail_container .rdet_ticket_container{
    grid-area: ticket;
    margin: 2%;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    box-shadow: 0 0 4px var(--main-bg-color);
    padding: 10px;
}

.review_detail_container .rdet_ticket_container .rdet_ticket_user a{
    font-size: 16px;
}

.review_detail_container .rdet_ticket_container .rdet_ticket_title{
    font-size: 14px;
}

.review_detail_container .rdet_ticket_container .rdet_ticket_image{
    text-align: center;
}

.review_detail_container .rdet_ticket_container .rdet_ticket_image img{
    height: 75px;
    width: 75px;
    margin: 1%;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}

.review_detail_container .rdet_ticket{
    grid-area: ticket;
}

.review_detail_container .rdet_body{
    grid-area: body;
}

.review_detail_container .rdet_update{
    grid-area: update;
}

.review_detail_container .rdet_home{
    grid-area: home;
}

.abonnement{
    display: grid;
    grid-template-areas:    'title title title'
                            'form form form'
                            'following following following'
                            'following following following'
                            'followed followed followed'
                            'followed followed followed'
                            'home home home';
    text-align: center;
}

.abonnement p, .abonnement h4{
    margin: 1%;
}

.abonnement p{
    font-size: 18px;
}

.abonnement .abo_title{
    grid-area: title;
}

.abonnement .abo_form{
    grid-area: form;
    border-bottom: 1px solid var(--border-color);
}

.abonnement .abo_following{
    grid-area: following;
    border-bottom: 1px solid var(--border-color);
}

.abonnement .abo_following a{
    font-size: 18px;
}

.abonnement .abo_following_container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-overflow: ellipsis;
    height: 40%;
    overflow-y: scroll;
}

.abonnement .abo_followed_by{
    grid-area: followed;
    border-bottom: 1px solid var(--border-color);
}

.abonnement .abo_followed_by_container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-overflow: ellipsis;
    height: 40%;
    overflow-y: scroll;
}

.abonnement .abo_home{
    grid-area: home;
}