{% extends 'base.html' %}
{% block content %}
    <div class="px-5 py-2 container">
        <div class="row pt-1 pb-3">
            <h2 class="col text-center">Suppression de l'abonnement avec {{ following.followed_user_name }} </h2>
        </div>
        <div class="row py-1">
            <p class="col text-center">Êtes-vous sûr de vouloir supprimer votre abonnement ?</p>
        </div>
        <form class="row py-1 justify-content-center" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="col-2 btn btn-outline-secondary me-3" type="submit" >Oui</button>
            <a class="col-2 btn btn-outline-secondary ms-3" href="{% url 'follow_users' %}">Non</a>
        </form>
    </div>
{% endblock content %}