{% extends 'base.html' %}
{% block content %}
    <h2>Suppression du ticket sur {{ ticket.title }} - {{ ticket.author }}</h2>

    <p>Êtes-vous sûr de vouloir supprimer ce ticket ?</p>

    <form method="post">
        <div class="form_tr_container">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form_tr_publish">
                <p class="delete_form"><button type="submit" >Oui</button>
                    <a href="{% url 'post_edit' %}">Non</a></p>
            </div>
        </div>
    </form>
{% endblock content %}