{% extends 'base.html' %}
{% block content %}
{% load rthome_extras %}
{% load static %}
    <div class="container text-center">
        <h2>Mon flux</h2>
        {% for instance in tickets_and_reviews %}
            {% if instance|model_type == 'Ticket' %}
                {% include 'rthome/partials/ticket_snippet.html' with ticket=instance %}
            {% elif instance|model_type == 'Review' %}
                {% include 'rthome/partials/review_snippet.html' with review=instance %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock content%}