{% extends 'base.html' %}
{% load rthome_extras %}
{% block content %}
{% load static %}
    <h2>Mes Posts</h2>
    <div class="grid-container">
        {% for instance in page_obj %}
            {% if instance|model_type == 'Ticket' %}
                {% include 'rthome/partials/ticket_post_edit_snippet.html' with ticket=instance %}
            {% elif instance|model_type == 'Review' %}
                {% include 'rthome/partials/review_post_edit_snippet.html' with review=instance %}
            {% endif %}
        {% endfor %}
    </div>
    {% include 'partials/page_navigator.html' %}
{% endblock content%}