{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="grid-container">
        {% for ticket in page_obj %}
            <div class="ticket">
                <p class="date">édité le {{ ticket.time_created }}</p>
                <p class="user_ticket">{{ ticket.user }} a demandé une critique</p>
                <p>{{ ticket.title }} - {{ ticket.author }}</p>
                <p class="description">{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}">
                {% else %}
                    <img src="{% static 'images/default_profile.png' %}">
                {% endif %}
                <p class="add_review">
                    <a class="edit_ticket" href="{% url 'edit_ticket' ticket.id %}">Modifier</a>
                    <a class="delete_ticket" href="{% url 'delete_ticket' ticket.id %}">Supprimer</a>
                </p>
            </div>
        {% endfor %}
    </div>
    {% include 'partials/page_navigator.html' %}
{% endblock content %}