{% load rthome_extras %}
{% load static %}
<div class="px-5 py-2 container border border-2 border-secondary">
    <div class="row py-1">
        <p class="col fs-5 text-start">
            <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'review_detail' review.ticket.id review.id %}">
                Critique proposée par {% user_pronoun_choice review.user %}
            </a>
        </p>
        <p class="col text-end fw-light fst-italic">édité le {{ review.time_created }}</p>
    </div>
    <div class="row py-1">
        <p class="col text-start">
            {{ review.headline }} -
            {% if review.rating == 1 %}
                ★☆☆☆☆
            {% elif review.rating == 2 %}
                ★★☆☆☆
            {% elif review.rating == 3 %}
                ★★★☆☆
            {% elif review.rating == 4 %}
                ★★★★☆
            {% elif review.rating == 5 %}
                ★★★★★
            {% else %}
                ☆☆☆☆☆
            {% endif %}
        </p>
    </div>
    <div class="row py-1">
        <p class="col text-start">{{ review.body }}</p>
    </div>
    <div class="row py-1">
        <div class="px-5 py-2 container border border-2 border-secondary">
            <div class="row py-1">
                <p class="col fs-5 text-start">
                    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'ticket_detail' review.ticket.id %}">
                        Critique demandée par {% user_pronoun_choice review.ticket.user %}
                    </a>
                </p>
                <p class="col text-end fw-light fst-italic">édité le {{ review.ticket.time_created }}</p>
            </div>
            <div class="row py-1">
                <p class="col text-start">{{ review.ticket.title }} - {{ review.ticket.author }}</p>
            </div>
            <div class="row py-1">
                {% if review.ticket.image %}
                    <img class="col-2 text-start" src="{{ review.ticket.image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>