{% load rthome_extras %}
{% load static %}
<div class="ticket">
    <p class="date">édité le {{ ticket.time_created }}</p>
    <p class="user_ticket"><a href="{% url 'ticket_detail' ticket.id %}">Critique demandée par {% user_pronoun_choice ticket.user %}</a></p>
    <p>{{ ticket.title }} - {{ ticket.author }}</p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}">
    {% else %}
        <img src="{% static 'images/default_profile.png' %}">
    {% endif %}
    <p><a class="add_review" href="{% url 'create_review' ticket.id %}">Ajouter une critique</a></p>
</div>