{% extends 'base.html' %}
{% block content %}
    <h2>Changement de mot de passe</h2>
    <form method="post">
        <div class="form_tr_container">
            {% csrf_token %}
            <div class="form_tr_ticket">
                {{ form.as_p }}
            </div>
            <div class="form_tr_review"></div>
            <div class="form_tr_publish_signup">
                <button type="submit" >Changer le mot de passe</button>
            </div>
        </div>
    </form>
{% endblock content %}