{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="px-5 py-2 container">
        <div class="row pt-1 pb-3">
            <h2 class="col text-center">Inscription</h2>
        </div>
        <div class="row py-1">
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
        </div>
        <form class="row pt-1 pb-3 justify-content-end" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="col-2 btn btn-outline-secondary me-3" href="{% url 'login' %}">Retour</a>
            <button class="col-2 btn btn-outline-secondary ms-3" type="submit">S'inscrire</button>
        </form>
    </div>
{% endblock content %}