{% extends 'base.html' %}
{% block content %}
    <h2>Inscription</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        <div class="form_tr_container">
            {% csrf_token %}
            <div class="form_tr_ticket">
                {{ form.as_p }}
            </div>
            <div class="form_tr_review"></div>
            <div class="form_tr_publish_signup">
                <button type="submit">S'inscrire</button>
            </div>
        </div>
    </form>
{% endblock content %}